flows.json
[{"id":"1149fd40.31a79b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2641a983.8c136e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ead2accd.ea42c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"73af0d21.3c3d0c","type":"ui_group","name":"Main","tab":"2641a983.8c136e","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e512596.02075a","type":"mqtt-broker","name":"Mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd8473ae.131f1","type":"ui_tab","name":"Slide","icon":"dashboard","disabled":false,"hidden":false},{"id":"f978e76a.e7e2f","type":"ui_group","name":"Turn","tab":"2641a983.8c136e","order":2,"disp":true,"width":"6","collapse":false},{"id":"46bd45f7.0de574","type":"ui_group","name":"Info","tab":"2641a983.8c136e","order":3,"disp":true,"width":"6","collapse":false},{"id":"9db9b9f9.71f318","type":"ui_group","name":"Data","tab":"2641a983.8c136e","order":4,"disp":true,"width":"6","collapse":false},{"id":"390b318d.ca754e","type":"ui_group","name":"Behavior","tab":"2641a983.8c136e","order":5,"disp":true,"width":"6","collapse":false},{"id":"d6c009e0.61d378","type":"ui_group","name":"Points","tab":"2641a983.8c136e","order":6,"disp":true,"width":"6","collapse":false},{"id":"10416b60.b6a68d","type":"ui_tab","name":"Pics","icon":"dashboard","disabled":false,"hidden":false},{"id":"705bc3dd.0bc034","type":"ui_group","name":"Direction","tab":"2641a983.8c136e","order":7,"disp":true,"width":"6","collapse":false},{"id":"6bf8a7eb.6b90c","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"speed_topic","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":150,"y":140,"wires":[["8a167f92.0459f8"]]},{"id":"785f32d7.0e47bc","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"start_stop_topic","qos":"","retain":"","broker":"1e512596.02075a","x":500,"y":1000,"wires":[]},{"id":"863071.4afbaf9","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"trigger\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1000,"wires":[["785f32d7.0e47bc"]]},{"id":"d4931202.612438","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.velocity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["d9aae1ec.3a152"]]},{"id":"8a167f92.0459f8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":140,"wires":[["d4931202.612438"]]},{"id":"e52d48fe.269ee8","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"73af0d21.3c3d0c","order":0,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":130,"y":1020,"wires":[["863071.4afbaf9"]]},{"id":"891fc5f4.af0248","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"73af0d21.3c3d0c","order":0,"width":0,"height":0,"passthru":false,"label":"Start ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"","x":130,"y":980,"wires":[["863071.4afbaf9"]]},{"id":"d9aae1ec.3a152","type":"ui_gauge","z":"1149fd40.31a79b","name":"","group":"46bd45f7.0de574","order":3,"width":0,"height":0,"gtype":"gage","title":"Speedometer","label":"units","format":"","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":140,"wires":[]},{"id":"d418a52f.713cf","type":"ui_slider","z":"1149fd40.31a79b","name":"","label":"Set Speed","tooltip":"","group":"73af0d21.3c3d0c","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"30","step":1,"x":630,"y":80,"wires":[["3855a742.a4e418"]]},{"id":"711bd08d.b4fb8","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"speed_configure","qos":"","retain":"","broker":"1e512596.02075a","x":990,"y":80,"wires":[]},{"id":"3855a742.a4e418","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"velocity\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":80,"wires":[["711bd08d.b4fb8"]]},{"id":"bcc5074a.39bd98","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn","qos":"","retain":"","broker":"1e512596.02075a","x":470,"y":1140,"wires":[]},{"id":"5b3498d5.64ffb8","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"f978e76a.e7e2f","order":0,"width":0,"height":0,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LEFT","payloadType":"str","topic":"","x":130,"y":1200,"wires":[["28808f4d.0c278"]]},{"id":"8919c06a.8b8b2","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"f978e76a.e7e2f","order":0,"width":0,"height":0,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RIGHT","payloadType":"str","topic":"","x":130,"y":1080,"wires":[["28808f4d.0c278"]]},{"id":"28808f4d.0c278","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"value\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1140,"wires":[["bcc5074a.39bd98"]]},{"id":"d0d322a7.1c4618","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"turn notification","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":200,"wires":[["ba9d4db2.864ff8"]]},{"id":"1552ce6b.70fb9a","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":200,"wires":[["8508f803.22f3c"]]},{"id":"8508f803.22f3c","type":"ui_toast","z":"1149fd40.31a79b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Turn Notification","x":640,"y":200,"wires":[]},{"id":"ba9d4db2.864ff8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":200,"wires":[["1552ce6b.70fb9a"]]},{"id":"268b8028.8a8238","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"speed_configure","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":80,"wires":[["7c05d1cb.ad7db"]]},{"id":"b493fa62.6fb5e","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.velocity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":80,"wires":[["d418a52f.713cf"]]},{"id":"7c05d1cb.ad7db","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":80,"wires":[["b493fa62.6fb5e"]]},{"id":"41d69052.c6b2","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"behavior","qos":"","retain":"","broker":"1e512596.02075a","x":480,"y":1260,"wires":[]},{"id":"17eee6ac.472199","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"f978e76a.e7e2f","order":0,"width":0,"height":0,"passthru":false,"label":"Change Goal ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":150,"y":1260,"wires":[["5c478b19.c00d4c"]]},{"id":"5c478b19.c00d4c","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"behavior\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1260,"wires":[["41d69052.c6b2"]]},{"id":"5ec41062.58bc58","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"enter","qos":"","retain":"","broker":"1e512596.02075a","x":470,"y":1320,"wires":[]},{"id":"a982fb64.6ed368","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"9db9b9f9.71f318","order":0,"width":0,"height":0,"passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":130,"y":1320,"wires":[["5bc75e81.4ce058"]]},{"id":"5bc75e81.4ce058","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"enter\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1320,"wires":[["5ec41062.58bc58"]]},{"id":"4f5f9d99.ded55c","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"done","qos":"","retain":"","broker":"1e512596.02075a","x":470,"y":1380,"wires":[]},{"id":"859a530.0b2243","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"9db9b9f9.71f318","order":0,"width":0,"height":0,"passthru":false,"label":"Done ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":130,"y":1380,"wires":[["ef920b63.97a168"]]},{"id":"ef920b63.97a168","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"done\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1380,"wires":[["4f5f9d99.ded55c"]]},{"id":"dedf08de.4b6c98","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":7,"width":0,"height":0,"name":"","label":"Info","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":300,"wires":[]},{"id":"7f3c8ff0.a2bfd8","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"waypoint_choose","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":280,"wires":[["cf4188e0.08487"]]},{"id":"74271b54.662c24","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":280,"wires":[["dedf08de.4b6c98"]]},{"id":"cf4188e0.08487","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":280,"wires":[["74271b54.662c24"]]},{"id":"e611199b.997e3","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":480,"wires":[]},{"id":"c879d583.b35d9","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":560,"wires":[]},{"id":"3492a095.b566a","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"done_info","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":560,"wires":[["bfb4493c.24a8f"]]},{"id":"3d8634bd.009d3c","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":560,"wires":[["c879d583.b35d9"]]},{"id":"bfb4493c.24a8f","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":560,"wires":[["3d8634bd.009d3c"]]},{"id":"c315f792.2ea668","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":480,"wires":[["e611199b.997e3"]]},{"id":"97c6b2d7.6f37f","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"enter_info","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":480,"wires":[["b63f21fa.e60918"]]},{"id":"b63f21fa.e60918","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":480,"wires":[["c315f792.2ea668"]]},{"id":"23ddeef2.8ffb22","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"start notification","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":660,"wires":[["5a4149a9.49062"]]},{"id":"5a537610.b362c","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":660,"wires":[["bc7645ac.29efb8"]]},{"id":"bc7645ac.29efb8","type":"ui_toast","z":"1149fd40.31a79b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Start Notification","x":640,"y":660,"wires":[]},{"id":"5a4149a9.49062","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":660,"wires":[["5a537610.b362c"]]},{"id":"76af3690.3bd198","type":"ui_slider","z":"1149fd40.31a79b","name":"","label":"Aggressive","tooltip":"","group":"390b318d.ca754e","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"30","step":1,"x":630,"y":760,"wires":[["39590f8e.968448"]]},{"id":"e7b9ef0b.a08498","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"aggressive","qos":"","retain":"","broker":"1e512596.02075a","x":970,"y":760,"wires":[]},{"id":"39590f8e.968448","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"aggressive\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":760,"wires":[["e7b9ef0b.a08498"]]},{"id":"cc0ad36c.129838","type":"ui_slider","z":"1149fd40.31a79b","name":"","label":"Cautious","tooltip":"","group":"390b318d.ca754e","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"30","step":1,"x":620,"y":820,"wires":[["a71d3435.93d5b8"]]},{"id":"b96be074.81a538","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"cautious","qos":"","retain":"","broker":"1e512596.02075a","x":960,"y":820,"wires":[]},{"id":"a71d3435.93d5b8","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"cautious\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":820,"wires":[["b96be074.81a538"]]},{"id":"9d4b12d8.8ac82","type":"ui_dropdown","z":"1149fd40.31a79b","name":"","label":"","tooltip":"","place":"Select option","group":"d6c009e0.61d378","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Gas Station","value":"Gas Station","type":"str"},{"label":"Centre","value":"Centre","type":"str"}],"payload":"","topic":"","x":620,"y":400,"wires":[["2fa72772.1e2c68"]]},{"id":"816d665a.12f138","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"coordinates","qos":"","retain":"","broker":"1e512596.02075a","x":950,"y":400,"wires":[]},{"id":"97a880f2.07b5c","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":400,"wires":[["9d4b12d8.8ac82"]]},{"id":"e98c638e.bf0e58","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"clean","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":130,"y":400,"wires":[["7889f084.2527e"]]},{"id":"f889af41.dd27e8","type":"ui_text_input","z":"1149fd40.31a79b","name":"","label":"","tooltip":"","group":"705bc3dd.0bc034","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":620,"y":1460,"wires":[["31e4809a.ed8498"]]},{"id":"31e4809a.ed8498","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"coordinates_forward\": msg.payload, \"location\": \"forward\"}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1460,"wires":[["3795fba1.e36dbc"]]},{"id":"1b41b460.8cbc1c","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"clean","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":130,"y":1480,"wires":[["8678c5aa.6b38c8"]]},{"id":"951dfee0.e67fc","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1460,"wires":[["f889af41.dd27e8"]]},{"id":"8678c5aa.6b38c8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":347,"y":1460,"wires":[["951dfee0.e67fc"]]},{"id":"3795fba1.e36dbc","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"coordinates_forward","qos":"","retain":"","broker":"1e512596.02075a","x":1000,"y":1460,"wires":[]},{"id":"299487c5.b44f98","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn_junction","qos":"","retain":"","broker":"1e512596.02075a","x":830,"y":1560,"wires":[]},{"id":"874a9668.6be6e","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"705bc3dd.0bc034","order":0,"width":0,"height":0,"passthru":false,"label":"Forward","tooltip":"","color":"","bgcolor":"","icon":"","payload":"FORWARD","payloadType":"str","topic":"","x":460,"y":1560,"wires":[["890f4b2f.a49d18"]]},{"id":"890f4b2f.a49d18","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"turn_junction\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1560,"wires":[["299487c5.b44f98"]]},{"id":"238f977b.cfb7b","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"forward meters","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":180,"y":1620,"wires":[["8372a12.1e9a4e"]]},{"id":"db867f45.5274f8","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1620,"wires":[["792b3858.e76fb"]]},{"id":"792b3858.e76fb","type":"ui_toast","z":"1149fd40.31a79b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Forward Meters","x":720,"y":1620,"wires":[]},{"id":"8372a12.1e9a4e","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":330,"y":1620,"wires":[["db867f45.5274f8"]]},{"id":"7889f084.2527e","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":400,"wires":[["97a880f2.07b5c"]]},{"id":"7320e1a7.4343a","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"clean","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":150,"y":1720,"wires":[["559d726f.63121c"]]},{"id":"c6676708.1cff88","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1720,"wires":[["d40597f8.343c38"]]},{"id":"559d726f.63121c","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":320,"y":1720,"wires":[["c6676708.1cff88"]]},{"id":"d40597f8.343c38","type":"ui_dropdown","z":"1149fd40.31a79b","name":"","label":"Log New Destination ","tooltip":"","place":"Log New Destination ","group":"9db9b9f9.71f318","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Location","value":"Location","type":"str"},{"label":"Direction","value":"Direction","type":"str"}],"payload":"","topic":"","x":700,"y":1720,"wires":[["bc130244.5b5b"]]},{"id":"a7ec2130.0566c8","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"log","qos":"","retain":"","broker":"1e512596.02075a","x":1050,"y":1720,"wires":[]},{"id":"bc130244.5b5b","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"log\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1720,"wires":[["a7ec2130.0566c8"]]},{"id":"dde17858.ae19a8","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn_junction","qos":"","retain":"","broker":"1e512596.02075a","x":530,"y":1800,"wires":[]},{"id":"a18cf17c.250bf","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"705bc3dd.0bc034","order":0,"width":0,"height":0,"passthru":false,"label":"Right Turn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RIGHT","payloadType":"str","topic":"","x":190,"y":1800,"wires":[["979206d0.2df9b"]]},{"id":"979206d0.2df9b","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"turn_junction\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1800,"wires":[["dde17858.ae19a8"]]},{"id":"bbd7a690.ebf268","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn_junction","qos":"","retain":"","broker":"1e512596.02075a","x":530,"y":1860,"wires":[]},{"id":"1cca48ec.997f7f","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"705bc3dd.0bc034","order":0,"width":0,"height":0,"passthru":false,"label":"Left Turn","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LEFT","payloadType":"str","topic":"","x":180,"y":1860,"wires":[["5ae8b609.24355"]]},{"id":"5ae8b609.24355","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"turn_junction\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1860,"wires":[["bbd7a690.ebf268"]]},{"id":"f4734324.e6d37","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn_junction","qos":"","retain":"","broker":"1e512596.02075a","x":530,"y":1940,"wires":[]},{"id":"2e20c7f5.00bcb8","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"705bc3dd.0bc034","order":0,"width":0,"height":0,"passthru":false,"label":"STRAIGHT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"STRAIGHT","payloadType":"str","topic":"","x":190,"y":1940,"wires":[["e7f9b451.64e75"]]},{"id":"e7f9b451.64e75","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"turn_junction\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1940,"wires":[["f4734324.e6d37"]]},{"id":"d53b4b82.89a43","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"turn number","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":170,"y":2020,"wires":[["5fb376a4.d98b48"]]},{"id":"24d41a99.68cc4e","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":2020,"wires":[["98d76b9f.edb69"]]},{"id":"98d76b9f.edb69","type":"ui_toast","z":"1149fd40.31a79b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Turn Number Specification","x":760,"y":2020,"wires":[]},{"id":"5fb376a4.d98b48","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":330,"y":2020,"wires":[["24d41a99.68cc4e"]]},{"id":"b799383b.f6e0c","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"turn clean","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":1420,"wires":[["8678c5aa.6b38c8"]]},{"id":"2fa72772.1e2c68","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"location\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":400,"wires":[["816d665a.12f138"]]},{"id":"c8ce219b.c11628","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"cancel","qos":"","retain":"","broker":"1e512596.02075a","x":1230,"y":1320,"wires":[]},{"id":"7ff0dc75.ffac74","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"9db9b9f9.71f318","order":0,"width":0,"height":0,"passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":920,"y":1320,"wires":[["e63d56ee.aa0c4"]]},{"id":"e63d56ee.aa0c4","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {'cancel': msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1320,"wires":[["c8ce219b.c11628"]]},{"id":"b13fede4.21053","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"cancel command","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":620,"y":1400,"wires":[["c290caf2.0b27e"]]},{"id":"c290caf2.0b27e","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":770,"y":1400,"wires":[["ee1cc2ba.dca12"]]},{"id":"18189615.f5e912","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {'cancel': msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1400,"wires":[["c8ce219b.c11628"]]},{"id":"ee1cc2ba.dca12","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1400,"wires":[["18189615.f5e912"]]},{"id":"134407ac.363af","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"cancel command","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":340,"wires":[["a24c18f1.fcb99"]]},{"id":"a24c18f1.fcb99","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":340,"wires":[["1ae29109.d1d9af"]]},{"id":"1ae29109.d1d9af","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = \" \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[["dedf08de.4b6c98"]]},{"id":"85f88900.5dcdc","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"aggressive","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":760,"wires":[["e894b498.7ce11"]]},{"id":"eeeb5ecd.f34bf8","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.aggressive;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":760,"wires":[["76af3690.3bd198"]]},{"id":"e894b498.7ce11","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":760,"wires":[["eeeb5ecd.f34bf8"]]},{"id":"3592314.ce5864e","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"cautious","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":820,"wires":[["b9215b.bd2d4ea8"]]},{"id":"7655bf26.9fc3c8","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.cautious;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":820,"wires":[["cc0ad36c.129838"]]},{"id":"b9215b.bd2d4ea8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":820,"wires":[["7655bf26.9fc3c8"]]},{"id":"bde13b94.95aef","type":"ui_slider","z":"1149fd40.31a79b","name":"","label":"Lawful","tooltip":"","group":"390b318d.ca754e","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"30","step":1,"x":610,"y":880,"wires":[["8cc239d1.48c5"]]},{"id":"a236490d.31ad18","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"lawful","qos":"","retain":"","broker":"1e512596.02075a","x":950,"y":880,"wires":[]},{"id":"8cc239d1.48c5","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"lawful\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":880,"wires":[["a236490d.31ad18"]]},{"id":"827e260d.3b439","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"lawful","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":130,"y":880,"wires":[["89718436.e209c8"]]},{"id":"b36d498.785a938","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.lawful;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":880,"wires":[["bde13b94.95aef"]]},{"id":"89718436.e209c8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":880,"wires":[["b36d498.785a938"]]}]