flows.json
[{"id":"1149fd40.31a79b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6bf8a7eb.6b90c","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"speed_topic","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":150,"y":140,"wires":[["8a167f92.0459f8"]]},{"id":"785f32d7.0e47bc","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"start_stop_topic","qos":"","retain":"","broker":"1e512596.02075a","x":500,"y":960,"wires":[]},{"id":"863071.4afbaf9","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"trigger\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":960,"wires":[["785f32d7.0e47bc"]]},{"id":"d4931202.612438","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.velocity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["d9aae1ec.3a152"]]},{"id":"8a167f92.0459f8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":140,"wires":[["d4931202.612438"]]},{"id":"e52d48fe.269ee8","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"73af0d21.3c3d0c","order":0,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":130,"y":1020,"wires":[["863071.4afbaf9"]]},{"id":"891fc5f4.af0248","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"73af0d21.3c3d0c","order":0,"width":0,"height":0,"passthru":false,"label":"Start ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"","x":130,"y":900,"wires":[["863071.4afbaf9"]]},{"id":"d9aae1ec.3a152","type":"ui_gauge","z":"1149fd40.31a79b","name":"","group":"46bd45f7.0de574","order":3,"width":0,"height":0,"gtype":"gage","title":"Speedometer","label":"units","format":"","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":140,"wires":[]},{"id":"d418a52f.713cf","type":"ui_slider","z":"1149fd40.31a79b","name":"","label":"Set Speed","tooltip":"","group":"73af0d21.3c3d0c","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"30","step":1,"x":630,"y":80,"wires":[["3855a742.a4e418"]]},{"id":"711bd08d.b4fb8","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"speed_configure","qos":"","retain":"","broker":"1e512596.02075a","x":990,"y":80,"wires":[]},{"id":"3855a742.a4e418","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"velocity\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":80,"wires":[["711bd08d.b4fb8"]]},{"id":"bcc5074a.39bd98","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn","qos":"","retain":"","broker":"1e512596.02075a","x":470,"y":1140,"wires":[]},{"id":"5b3498d5.64ffb8","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"f978e76a.e7e2f","order":0,"width":0,"height":0,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LEFT","payloadType":"str","topic":"","x":130,"y":1200,"wires":[["28808f4d.0c278"]]},{"id":"8919c06a.8b8b2","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"f978e76a.e7e2f","order":0,"width":0,"height":0,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RIGHT","payloadType":"str","topic":"","x":130,"y":1080,"wires":[["28808f4d.0c278"]]},{"id":"28808f4d.0c278","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"value\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1140,"wires":[["bcc5074a.39bd98"]]},{"id":"d0d322a7.1c4618","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"turn notification","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":220,"wires":[["ba9d4db2.864ff8"]]},{"id":"1552ce6b.70fb9a","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":220,"wires":[["8508f803.22f3c"]]},{"id":"8508f803.22f3c","type":"ui_toast","z":"1149fd40.31a79b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Turn Notification","x":700,"y":220,"wires":[]},{"id":"ba9d4db2.864ff8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":220,"wires":[["1552ce6b.70fb9a"]]},{"id":"268b8028.8a8238","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"speed_configure","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":80,"wires":[["7c05d1cb.ad7db"]]},{"id":"b493fa62.6fb5e","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.velocity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":80,"wires":[["d418a52f.713cf"]]},{"id":"7c05d1cb.ad7db","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":330,"y":80,"wires":[["b493fa62.6fb5e"]]},{"id":"41d69052.c6b2","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"behavior","qos":"","retain":"","broker":"1e512596.02075a","x":480,"y":1260,"wires":[]},{"id":"17eee6ac.472199","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"f978e76a.e7e2f","order":0,"width":0,"height":0,"passthru":false,"label":"Change Goal ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":150,"y":1260,"wires":[["5c478b19.c00d4c"]]},{"id":"5c478b19.c00d4c","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"behavior\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1260,"wires":[["41d69052.c6b2"]]},{"id":"6b257c45.59c0e4","type":"ui_text_input","z":"1149fd40.31a79b","d":true,"name":"","label":"","tooltip":"","group":"9db9b9f9.71f318","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1200,"y":760,"wires":[["93775671.3ff71"]]},{"id":"93775671.3ff71","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"coordinates\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":760,"wires":[[]]},{"id":"5ec41062.58bc58","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"enter","qos":"","retain":"","broker":"1e512596.02075a","x":470,"y":1320,"wires":[]},{"id":"a982fb64.6ed368","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"9db9b9f9.71f318","order":0,"width":0,"height":0,"passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":130,"y":1320,"wires":[["5bc75e81.4ce058"]]},{"id":"5bc75e81.4ce058","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"enter\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1320,"wires":[["5ec41062.58bc58"]]},{"id":"4f5f9d99.ded55c","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"done","qos":"","retain":"","broker":"1e512596.02075a","x":470,"y":1380,"wires":[]},{"id":"859a530.0b2243","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"9db9b9f9.71f318","order":0,"width":0,"height":0,"passthru":false,"label":"Done ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":130,"y":1380,"wires":[["ef920b63.97a168"]]},{"id":"ef920b63.97a168","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"done\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1380,"wires":[["4f5f9d99.ded55c"]]},{"id":"dedf08de.4b6c98","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":7,"width":0,"height":0,"name":"","label":"Info","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":300,"wires":[]},{"id":"533802e8.ad27bc","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"text","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":710,"y":760,"wires":[["a44014ff.dfbe8"]]},{"id":"65a54042.9c27e8","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":760,"wires":[["6b257c45.59c0e4"]]},{"id":"a44014ff.dfbe8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":870,"y":760,"wires":[["65a54042.9c27e8"]]},{"id":"7f3c8ff0.a2bfd8","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"waypoint_choose","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":300,"wires":[["cf4188e0.08487"]]},{"id":"74271b54.662c24","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":300,"wires":[["dedf08de.4b6c98"]]},{"id":"cf4188e0.08487","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":350,"y":300,"wires":[["74271b54.662c24"]]},{"id":"e611199b.997e3","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":480,"wires":[]},{"id":"c879d583.b35d9","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":560,"wires":[]},{"id":"3492a095.b566a","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"done_info","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":560,"wires":[["bfb4493c.24a8f"]]},{"id":"3d8634bd.009d3c","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":560,"wires":[["c879d583.b35d9"]]},{"id":"bfb4493c.24a8f","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":350,"y":560,"wires":[["3d8634bd.009d3c"]]},{"id":"c315f792.2ea668","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["e611199b.997e3"]]},{"id":"97c6b2d7.6f37f","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"enter_info","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":480,"wires":[["b63f21fa.e60918"]]},{"id":"b63f21fa.e60918","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":350,"y":480,"wires":[["c315f792.2ea668"]]},{"id":"23ddeef2.8ffb22","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"start notification","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":660,"wires":[["5a4149a9.49062"]]},{"id":"5a537610.b362c","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":660,"wires":[["bc7645ac.29efb8"]]},{"id":"bc7645ac.29efb8","type":"ui_toast","z":"1149fd40.31a79b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Start Notification","x":700,"y":660,"wires":[]},{"id":"5a4149a9.49062","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":660,"wires":[["5a537610.b362c"]]},{"id":"76af3690.3bd198","type":"ui_slider","z":"1149fd40.31a79b","name":"","label":"Aggressive","tooltip":"","group":"390b318d.ca754e","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"30","step":1,"x":150,"y":760,"wires":[["39590f8e.968448"]]},{"id":"e7b9ef0b.a08498","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"aggressive","qos":"","retain":"","broker":"1e512596.02075a","x":490,"y":760,"wires":[]},{"id":"39590f8e.968448","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"aggressive\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":760,"wires":[["e7b9ef0b.a08498"]]},{"id":"cc0ad36c.129838","type":"ui_slider","z":"1149fd40.31a79b","name":"","label":"Cautious","tooltip":"","group":"390b318d.ca754e","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"30","step":1,"x":140,"y":820,"wires":[["a71d3435.93d5b8"]]},{"id":"b96be074.81a538","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"cautious","qos":"","retain":"","broker":"1e512596.02075a","x":480,"y":820,"wires":[]},{"id":"a71d3435.93d5b8","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"cautious\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":820,"wires":[["b96be074.81a538"]]},{"id":"9d4b12d8.8ac82","type":"ui_dropdown","z":"1149fd40.31a79b","name":"","label":"","tooltip":"","place":"Select option","group":"d6c009e0.61d378","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Gas Station","value":"Gas Station","type":"str"},{"label":"Centre","value":"Centre","type":"str"}],"payload":"","topic":"","x":620,"y":400,"wires":[["ac03880a.ca6f4","121feb1.9396915"]]},{"id":"816d665a.12f138","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"coordinates","qos":"","retain":"","broker":"1e512596.02075a","x":1170,"y":400,"wires":[]},{"id":"ac03880a.ca6f4","type":"switch","z":"1149fd40.31a79b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Centre","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":360,"wires":[["2fa72772.1e2c68"]]},{"id":"2fa72772.1e2c68","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"coordinates\": [0, 20, 0], \"location\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":360,"wires":[["816d665a.12f138"]]},{"id":"121feb1.9396915","type":"switch","z":"1149fd40.31a79b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Gas Station","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":440,"wires":[["33e13293.a668ee"]]},{"id":"33e13293.a668ee","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"coordinates\": [-33, 176, 0], \"location\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":440,"wires":[["816d665a.12f138"]]},{"id":"97a880f2.07b5c","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":400,"wires":[["9d4b12d8.8ac82"]]},{"id":"a6b56536.7a0498","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":290,"y":400,"wires":[["97a880f2.07b5c"]]},{"id":"e98c638e.bf0e58","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"text","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":130,"y":400,"wires":[["a6b56536.7a0498"]]},{"id":"c7057179.8db5a","type":"ui_media","z":"1149fd40.31a79b","group":"b25306b7.fcd368","name":"","width":"0","height":"0","order":3,"category":"Map","file":"Town1.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1160,"y":540,"wires":[[]]},{"id":"1e512596.02075a","type":"mqtt-broker","name":"Mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"73af0d21.3c3d0c","type":"ui_group","name":"Main","tab":"2641a983.8c136e","order":1,"disp":true,"width":"6","collapse":false},{"id":"46bd45f7.0de574","type":"ui_group","name":"Info","tab":"2641a983.8c136e","order":3,"disp":true,"width":"6","collapse":false},{"id":"f978e76a.e7e2f","type":"ui_group","name":"Turn","tab":"2641a983.8c136e","order":2,"disp":true,"width":"6","collapse":false},{"id":"9db9b9f9.71f318","type":"ui_group","name":"Data","tab":"2641a983.8c136e","order":4,"disp":true,"width":"6","collapse":false},{"id":"390b318d.ca754e","type":"ui_group","name":"Behavior","tab":"2641a983.8c136e","order":5,"disp":true,"width":"6","collapse":false},{"id":"d6c009e0.61d378","type":"ui_group","name":"Points","tab":"2641a983.8c136e","order":6,"disp":true,"width":"6","collapse":false},{"id":"b25306b7.fcd368","type":"ui_group","name":"Pic","tab":"10416b60.b6a68d","order":1,"disp":true,"width":"6","collapse":false},{"id":"2641a983.8c136e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"10416b60.b6a68d","type":"ui_tab","name":"Pics","icon":"dashboard","disabled":false,"hidden":false}]