flows.json
[{"id":"1149fd40.31a79b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6bf8a7eb.6b90c","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"speed_topic","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":150,"y":160,"wires":[["8a167f92.0459f8"]]},{"id":"785f32d7.0e47bc","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"start_stop_topic","qos":"","retain":"","broker":"1e512596.02075a","x":500,"y":1000,"wires":[]},{"id":"863071.4afbaf9","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"trigger\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1000,"wires":[["785f32d7.0e47bc"]]},{"id":"d4931202.612438","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.velocity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["d9aae1ec.3a152"]]},{"id":"8a167f92.0459f8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":160,"wires":[["d4931202.612438"]]},{"id":"e52d48fe.269ee8","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"73af0d21.3c3d0c","order":3,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"white","bgcolor":"#E6060E","icon":"stop","payload":"stop","payloadType":"str","topic":"","x":130,"y":1020,"wires":[["863071.4afbaf9"]]},{"id":"891fc5f4.af0248","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"73af0d21.3c3d0c","order":2,"width":0,"height":0,"passthru":false,"label":"Start ","tooltip":"","color":"white","bgcolor":"#08A407","icon":"play_arrow","payload":"start","payloadType":"str","topic":"","x":130,"y":980,"wires":[["863071.4afbaf9"]]},{"id":"d9aae1ec.3a152","type":"ui_gauge","z":"1149fd40.31a79b","name":"","group":"46bd45f7.0de574","order":1,"width":0,"height":0,"gtype":"gage","title":"Speedometer","label":"units","format":"","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","x":640,"y":160,"wires":[]},{"id":"d418a52f.713cf","type":"ui_slider","z":"1149fd40.31a79b","name":"","label":"Set Speed","tooltip":"","group":"73af0d21.3c3d0c","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":630,"y":820,"wires":[["3855a742.a4e418"]]},{"id":"711bd08d.b4fb8","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"speed_configure","qos":"","retain":"","broker":"1e512596.02075a","x":990,"y":820,"wires":[]},{"id":"3855a742.a4e418","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"velocity\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":820,"wires":[["711bd08d.b4fb8"]]},{"id":"bcc5074a.39bd98","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn","qos":"","retain":"","broker":"1e512596.02075a","x":470,"y":1100,"wires":[]},{"id":"5b3498d5.64ffb8","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"73af0d21.3c3d0c","order":4,"width":0,"height":0,"passthru":false,"label":"Left","tooltip":"","color":"","bgcolor":"","icon":"arrow_back","payload":"LEFT","payloadType":"str","topic":"","x":130,"y":1120,"wires":[["28808f4d.0c278"]]},{"id":"8919c06a.8b8b2","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"73af0d21.3c3d0c","order":5,"width":0,"height":0,"passthru":false,"label":"Right","tooltip":"","color":"","bgcolor":"","icon":"arrow_forward","payload":"RIGHT","payloadType":"str","topic":"","x":130,"y":1080,"wires":[["28808f4d.0c278"]]},{"id":"28808f4d.0c278","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"value\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1100,"wires":[["bcc5074a.39bd98"]]},{"id":"d0d322a7.1c4618","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"turn notification","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":220,"wires":[["ba9d4db2.864ff8"]]},{"id":"1552ce6b.70fb9a","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":220,"wires":[["8508f803.22f3c"]]},{"id":"8508f803.22f3c","type":"ui_toast","z":"1149fd40.31a79b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Turn Notification","x":640,"y":220,"wires":[]},{"id":"268b8028.8a8238","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"speed_configure","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":820,"wires":[["7c05d1cb.ad7db"]]},{"id":"b493fa62.6fb5e","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.velocity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":820,"wires":[["d418a52f.713cf"]]},{"id":"7c05d1cb.ad7db","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":820,"wires":[["b493fa62.6fb5e"]]},{"id":"41d69052.c6b2","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"change_goal","qos":"","retain":"","broker":"1e512596.02075a","x":490,"y":1180,"wires":[]},{"id":"17eee6ac.472199","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"73af0d21.3c3d0c","order":6,"width":0,"height":0,"passthru":false,"label":"Change Goal","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"true","payloadType":"bool","topic":"","x":150,"y":1180,"wires":[["5c478b19.c00d4c"]]},{"id":"5c478b19.c00d4c","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"change_goal\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1180,"wires":[["41d69052.c6b2"]]},{"id":"5ec41062.58bc58","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"enter","qos":"","retain":"","broker":"1e512596.02075a","x":470,"y":1260,"wires":[]},{"id":"a982fb64.6ed368","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"9db9b9f9.71f318","order":2,"width":0,"height":0,"passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"add_circle","payload":"true","payloadType":"bool","topic":"","x":130,"y":1260,"wires":[["5bc75e81.4ce058"]]},{"id":"5bc75e81.4ce058","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"enter\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1260,"wires":[["5ec41062.58bc58"]]},{"id":"4f5f9d99.ded55c","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"done","qos":"","retain":"","broker":"1e512596.02075a","x":470,"y":1320,"wires":[]},{"id":"859a530.0b2243","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"9db9b9f9.71f318","order":3,"width":0,"height":0,"passthru":false,"label":"Done ","tooltip":"","color":"","bgcolor":"","icon":"done","payload":"true","payloadType":"bool","topic":"","x":130,"y":1320,"wires":[["ef920b63.97a168"]]},{"id":"ef920b63.97a168","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"done\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1320,"wires":[["4f5f9d99.ded55c"]]},{"id":"dedf08de.4b6c98","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":2,"width":0,"height":0,"name":"","label":"Info","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":420,"wires":[]},{"id":"7f3c8ff0.a2bfd8","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"waypoint_choose","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":380,"wires":[["cf4188e0.08487"]]},{"id":"74271b54.662c24","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":380,"wires":[["dedf08de.4b6c98"]]},{"id":"cf4188e0.08487","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":380,"wires":[["74271b54.662c24"]]},{"id":"e611199b.997e3","type":"ui_text","z":"1149fd40.31a79b","d":true,"group":"46bd45f7.0de574","order":3,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":520,"wires":[]},{"id":"c879d583.b35d9","type":"ui_text","z":"1149fd40.31a79b","d":true,"group":"46bd45f7.0de574","order":4,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":610,"y":580,"wires":[]},{"id":"3492a095.b566a","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"done_info","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":580,"wires":[["bfb4493c.24a8f"]]},{"id":"3d8634bd.009d3c","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":580,"wires":[["c879d583.b35d9"]]},{"id":"bfb4493c.24a8f","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":580,"wires":[["3d8634bd.009d3c"]]},{"id":"c315f792.2ea668","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":520,"wires":[["e611199b.997e3"]]},{"id":"97c6b2d7.6f37f","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"enter_info","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":520,"wires":[["b63f21fa.e60918"]]},{"id":"b63f21fa.e60918","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":520,"wires":[["c315f792.2ea668"]]},{"id":"23ddeef2.8ffb22","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"start notification","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":280,"wires":[["5a4149a9.49062"]]},{"id":"5a537610.b362c","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":280,"wires":[["bc7645ac.29efb8"]]},{"id":"bc7645ac.29efb8","type":"ui_toast","z":"1149fd40.31a79b","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Start Notification","x":640,"y":280,"wires":[]},{"id":"76af3690.3bd198","type":"ui_slider","z":"1149fd40.31a79b","name":"","label":"Aggressive","tooltip":"","group":"390b318d.ca754e","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"10","step":1,"x":630,"y":700,"wires":[["39590f8e.968448"]]},{"id":"e7b9ef0b.a08498","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"aggressive","qos":"","retain":"","broker":"1e512596.02075a","x":970,"y":700,"wires":[]},{"id":"39590f8e.968448","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"aggressive\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":700,"wires":[["e7b9ef0b.a08498"]]},{"id":"9d4b12d8.8ac82","type":"ui_dropdown","z":"1149fd40.31a79b","name":"","label":"","tooltip":"","place":"Select option","group":"d6c009e0.61d378","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Gas Station","value":"Gas Station","type":"str"},{"label":"Central Roundabout","value":"Central Roundabout","type":"str"},{"label":"Circular Plaza","value":"Circular Plaza","type":"str"},{"label":"Tunnel","value":"Tunnel","type":"str"},{"label":"Railstation","value":"Railstation","type":"str"},{"label":"Skyscraper","value":"Skyscraper","type":"str"},{"label":"Hotel","value":"Hotel","type":"str"},{"label":"Square","value":"Square","type":"str"},{"label":"Highway","value":"Highway","type":"str"},{"label":"Mall","value":"Mall","type":"str"},{"label":"Office","value":"Office","type":"str"},{"label":"Neighborhood","value":"Neighborhood","type":"str"},{"label":"Cafeteria","value":"Cafeteria","type":"str"},{"label":"Restaurant","value":"Restaurant","type":"str"}],"payload":"","topic":"","x":580,"y":1980,"wires":[["2fa72772.1e2c68"]]},{"id":"816d665a.12f138","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"coordinates","qos":"","retain":"","broker":"1e512596.02075a","x":990,"y":1980,"wires":[]},{"id":"97a880f2.07b5c","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1980,"wires":[["9d4b12d8.8ac82"]]},{"id":"e98c638e.bf0e58","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"clean","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":110,"y":1980,"wires":[["7889f084.2527e"]]},{"id":"f889af41.dd27e8","type":"ui_text_input","z":"1149fd40.31a79b","name":"","label":"","tooltip":"","group":"705bc3dd.0bc034","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":580,"y":1840,"wires":[["31e4809a.ed8498"]]},{"id":"31e4809a.ed8498","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"coordinates_forward\": msg.payload, \"location\": \"forward\"}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1840,"wires":[["3795fba1.e36dbc"]]},{"id":"1b41b460.8cbc1c","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"clean","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":110,"y":1860,"wires":[["8678c5aa.6b38c8"]]},{"id":"951dfee0.e67fc","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1840,"wires":[["f889af41.dd27e8"]]},{"id":"8678c5aa.6b38c8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1840,"wires":[["951dfee0.e67fc"]]},{"id":"3795fba1.e36dbc","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"coordinates_forward","qos":"","retain":"","broker":"1e512596.02075a","x":1020,"y":1840,"wires":[]},{"id":"299487c5.b44f98","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn_junction","qos":"","retain":"","broker":"1e512596.02075a","x":490,"y":1600,"wires":[]},{"id":"874a9668.6be6e","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"705bc3dd.0bc034","order":1,"width":0,"height":0,"passthru":false,"label":"Forward","tooltip":"","color":"","bgcolor":"","icon":"fast_forward","payload":"FORWARD","payloadType":"str","topic":"","x":140,"y":1600,"wires":[["890f4b2f.a49d18"]]},{"id":"890f4b2f.a49d18","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"turn_junction\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1600,"wires":[["299487c5.b44f98"]]},{"id":"238f977b.cfb7b","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"forward meters","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":40,"wires":[["8372a12.1e9a4e"]]},{"id":"db867f45.5274f8","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":40,"wires":[["792b3858.e76fb"]]},{"id":"792b3858.e76fb","type":"ui_toast","z":"1149fd40.31a79b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Forward Meters","x":640,"y":40,"wires":[]},{"id":"7889f084.2527e","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1980,"wires":[["97a880f2.07b5c"]]},{"id":"7320e1a7.4343a","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"clean","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":110,"y":1920,"wires":[["559d726f.63121c"]]},{"id":"c6676708.1cff88","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1920,"wires":[["d40597f8.343c38"]]},{"id":"559d726f.63121c","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1920,"wires":[["c6676708.1cff88"]]},{"id":"d40597f8.343c38","type":"ui_dropdown","z":"1149fd40.31a79b","name":"","label":"Log New Destination ","tooltip":"","place":"Log New Destination ","group":"9db9b9f9.71f318","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Location","value":"Location","type":"str"},{"label":"Direction","value":"Direction","type":"str"}],"payload":"","topic":"","x":620,"y":1920,"wires":[["bc130244.5b5b"]]},{"id":"a7ec2130.0566c8","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"log","qos":"","retain":"","broker":"1e512596.02075a","x":970,"y":1920,"wires":[]},{"id":"bc130244.5b5b","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"log\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1920,"wires":[["a7ec2130.0566c8"]]},{"id":"dde17858.ae19a8","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn_junction","qos":"","retain":"","broker":"1e512596.02075a","x":490,"y":1480,"wires":[]},{"id":"a18cf17c.250bf","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"705bc3dd.0bc034","order":3,"width":0,"height":0,"passthru":false,"label":"Right Turn","tooltip":"","color":"","bgcolor":"","icon":"arrow_forward","payload":"RIGHT","payloadType":"str","topic":"","x":150,"y":1480,"wires":[["979206d0.2df9b"]]},{"id":"979206d0.2df9b","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"turn_junction\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1480,"wires":[["dde17858.ae19a8"]]},{"id":"bbd7a690.ebf268","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn_junction","qos":"","retain":"","broker":"1e512596.02075a","x":490,"y":1540,"wires":[]},{"id":"1cca48ec.997f7f","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"705bc3dd.0bc034","order":4,"width":0,"height":0,"passthru":false,"label":"Left Turn","tooltip":"","color":"","bgcolor":"","icon":"arrow_back","payload":"LEFT","payloadType":"str","topic":"","x":140,"y":1540,"wires":[["5ae8b609.24355"]]},{"id":"5ae8b609.24355","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"turn_junction\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1540,"wires":[["bbd7a690.ebf268"]]},{"id":"f4734324.e6d37","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"turn_junction","qos":"","retain":"","broker":"1e512596.02075a","x":490,"y":1660,"wires":[]},{"id":"2e20c7f5.00bcb8","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"705bc3dd.0bc034","order":5,"width":0,"height":0,"passthru":false,"label":"Straight","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"STRAIGHT","payloadType":"str","topic":"","x":140,"y":1660,"wires":[["e7f9b451.64e75"]]},{"id":"e7f9b451.64e75","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"turn_junction\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1660,"wires":[["f4734324.e6d37"]]},{"id":"d53b4b82.89a43","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"turn number","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":150,"y":100,"wires":[["5fb376a4.d98b48"]]},{"id":"24d41a99.68cc4e","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":100,"wires":[["98d76b9f.edb69"]]},{"id":"98d76b9f.edb69","type":"ui_toast","z":"1149fd40.31a79b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Turn Number Specification","x":680,"y":100,"wires":[]},{"id":"b799383b.f6e0c","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"turn clean","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":120,"y":1800,"wires":[["8678c5aa.6b38c8"]]},{"id":"2fa72772.1e2c68","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"location\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1980,"wires":[["816d665a.12f138"]]},{"id":"c8ce219b.c11628","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"cancel","qos":"","retain":"","broker":"1e512596.02075a","x":470,"y":1380,"wires":[]},{"id":"7ff0dc75.ffac74","type":"ui_button","z":"1149fd40.31a79b","name":"","group":"9db9b9f9.71f318","order":4,"width":0,"height":0,"passthru":false,"label":"Cancel","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"true","payloadType":"bool","topic":"","x":140,"y":1380,"wires":[["e63d56ee.aa0c4"]]},{"id":"e63d56ee.aa0c4","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {'cancel': msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1380,"wires":[["c8ce219b.c11628"]]},{"id":"b13fede4.21053","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"cancel command","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":2060,"wires":[["c290caf2.0b27e"]]},{"id":"c290caf2.0b27e","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":290,"y":2060,"wires":[["ee1cc2ba.dca12"]]},{"id":"18189615.f5e912","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {'cancel': msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":2060,"wires":[["838b4136.924318"]]},{"id":"ee1cc2ba.dca12","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":2060,"wires":[["18189615.f5e912"]]},{"id":"134407ac.363af","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"cancel command","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":160,"y":460,"wires":[["a24c18f1.fcb99"]]},{"id":"a24c18f1.fcb99","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":460,"wires":[["1ae29109.d1d9af"]]},{"id":"1ae29109.d1d9af","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = \" \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":460,"wires":[["dedf08de.4b6c98"]]},{"id":"85f88900.5dcdc","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"aggressive","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":140,"y":700,"wires":[["e894b498.7ce11"]]},{"id":"eeeb5ecd.f34bf8","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.aggressive;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":700,"wires":[["76af3690.3bd198"]]},{"id":"e894b498.7ce11","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":700,"wires":[["eeeb5ecd.f34bf8"]]},{"id":"ca1c31a7.ade84","type":"ui_slider","z":"1149fd40.31a79b","name":"","label":"Lawful","tooltip":"","group":"390b318d.ca754e","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"10","step":1,"x":610,"y":760,"wires":[["b8b3ff29.9c49c8"]]},{"id":"ccc81e8a.d80878","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"lawful","qos":"","retain":"","broker":"1e512596.02075a","x":950,"y":760,"wires":[]},{"id":"b8b3ff29.9c49c8","type":"function","z":"1149fd40.31a79b","name":"","func":"var dict = {\"data\": {\"lawful\": msg.payload}, \"meta\": {\"timestamp\": msg.time, \"properties\": {\"content_type\": \"application/json\", \"content_encoding\": \"utf8\"}}\n\n};\nmsg.payload = dict;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":760,"wires":[["ccc81e8a.d80878"]]},{"id":"3528653f.6a278a","type":"mqtt in","z":"1149fd40.31a79b","name":"","topic":"lawful","qos":"2","datatype":"auto","broker":"1e512596.02075a","x":130,"y":760,"wires":[["41f19943.3b88a"]]},{"id":"167b920b.45d6e6","type":"function","z":"1149fd40.31a79b","name":"","func":"msg.payload  = msg.payload.data.lawful;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":760,"wires":[["ca1c31a7.ade84"]]},{"id":"41f19943.3b88a","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":760,"wires":[["167b920b.45d6e6"]]},{"id":"5a4149a9.49062","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":280,"wires":[["5a537610.b362c"]]},{"id":"ba9d4db2.864ff8","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":220,"wires":[["1552ce6b.70fb9a"]]},{"id":"5fb376a4.d98b48","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":100,"wires":[["24d41a99.68cc4e"]]},{"id":"8372a12.1e9a4e","type":"json","z":"1149fd40.31a79b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":40,"wires":[["db867f45.5274f8"]]},{"id":"838b4136.924318","type":"mqtt out","z":"1149fd40.31a79b","name":"","topic":"cancel","qos":"","retain":"","broker":"1e512596.02075a","x":770,"y":2060,"wires":[]},{"id":"d10d1297.596668","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":20,"wires":[]},{"id":"6a7ebe31.4208c","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Select the way you want to move on \"Log New\" dropdown box.","payloadType":"str","x":950,"y":20,"wires":[["d10d1297.596668"]]},{"id":"4569fcfb.a2130c","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":100,"wires":[]},{"id":"b7ec02f3.635ba","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Select the  location you want in \"Location\" tab.","payloadType":"str","x":950,"y":100,"wires":[["4569fcfb.a2130c"]]},{"id":"41ed0c5b.4e16d4","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":180,"wires":[]},{"id":"49f34959.d1dd","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Select the  direction you want in \"Direction\" tab by clicking one or more buttons of the available options.","payloadType":"str","x":950,"y":180,"wires":[["41ed0c5b.4e16d4"]]},{"id":"957b6253.be11d8","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":240,"wires":[]},{"id":"dde43da.7446bc","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Start or Stop the vehicle by clicking on the \"START\" and \"STOP\" buttons accordingly in tab \"Handle Vehicle\"","payloadType":"str","x":950,"y":240,"wires":[["957b6253.be11d8"]]},{"id":"c51540d.64f91c","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":300,"wires":[]},{"id":"93204221.8c36d","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Change left or right lane by clicking on the buttons \"LEFT\" and \"RIGHT\" accordingly in tab \"Handle Vehicle\"","payloadType":"str","x":950,"y":300,"wires":[["c51540d.64f91c"]]},{"id":"f7ad3837.fabf48","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":360,"wires":[]},{"id":"bcecd9bb.0019d8","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Stop the vehicle and change the final goal by clicking on the \"CHANGE GOAL\" button.","payloadType":"str","x":950,"y":360,"wires":[["f7ad3837.fabf48"]]},{"id":"d2b900df.e598b8","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":420,"wires":[]},{"id":"da297b45.173b48","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Stop the vehicle and change the final goal by clicking on the \"CHANGE GOAL\" button.","payloadType":"str","x":950,"y":420,"wires":[["d2b900df.e598b8"]]},{"id":"5cec553a.7681d4","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":480,"wires":[]},{"id":"94a06872.656d9","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Specify the behavior of the vehicle by choosing values in \"aggressive\" and \"lawful\" sliders. ","payloadType":"str","x":950,"y":480,"wires":[["5cec553a.7681d4"]]},{"id":"8483c4ce.cf673","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":540,"wires":[]},{"id":"9f4933d8.b53e","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Press \"ENTER\" for logging a new element.","payloadType":"str","x":950,"y":540,"wires":[["8483c4ce.cf673"]]},{"id":"31bbd519.b8cb62","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":600,"wires":[]},{"id":"2124ee42.1571d2","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Press \"DONE\" when finishing with path planning procedure.","payloadType":"str","x":950,"y":600,"wires":[["31bbd519.b8cb62"]]},{"id":"6872d97f.ba93b8","type":"ui_text","z":"1149fd40.31a79b","group":"46bd45f7.0de574","order":4,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":660,"wires":[]},{"id":"71334094.ffd72","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"- Press \"CANCEL\" for starting the procedure of selecting path and destination from the beginning. ","payloadType":"str","x":950,"y":660,"wires":[["6872d97f.ba93b8"]]},{"id":"d18e520b.45fdb8","type":"inject","z":"1149fd40.31a79b","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Path selection has been completed! Press START to activate the vehicle!","x":210,"y":340,"wires":[["afccd957.0c70c"]]},{"id":"afccd957.0c70c","type":"delay","z":"1149fd40.31a79b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":340,"wires":[["bc7645ac.29efb8"]]},{"id":"1e512596.02075a","type":"mqtt-broker","name":"Mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"73af0d21.3c3d0c","type":"ui_group","name":"Handle Vehicle ","tab":"2641a983.8c136e","order":2,"disp":true,"width":"5","collapse":false},{"id":"46bd45f7.0de574","type":"ui_group","name":"Info","tab":"2641a983.8c136e","order":1,"disp":true,"width":"7","collapse":false},{"id":"9db9b9f9.71f318","type":"ui_group","name":"Specify next destination ","tab":"2641a983.8c136e","order":3,"disp":true,"width":"8","collapse":false},{"id":"390b318d.ca754e","type":"ui_group","name":"Behavior","tab":"2641a983.8c136e","order":6,"disp":true,"width":"5","collapse":false},{"id":"d6c009e0.61d378","type":"ui_group","name":"Location","tab":"2641a983.8c136e","order":5,"disp":true,"width":"4","collapse":false},{"id":"705bc3dd.0bc034","type":"ui_group","name":"Direction","tab":"2641a983.8c136e","order":4,"disp":true,"width":"4","collapse":false},{"id":"2641a983.8c136e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]